* {
  font-family: "Press Start 2P", cursive;
}

.mainpage {
  align-items: center;
  margin: 200px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nes-field {
  width: 50%;
}

.nes-field label {
  text-align: center;
  color: white;
}

.nes-progress is-success {
  width: 50%;
}

.bar1 {
  width: 35%;
  height: 36px;
  display: flex;
}

.bar2 {
  width: 35%;
  height: 36px;
  display: flex;
}

.time-fight-format {
  color: white;
  font-size: 48px;
  display: flex;
}

.fight-screen {
  margin-top: 1cm;
  position: sticky;
}

.row {
  display: flex;
}

.name-fighter-1-format {
  color: white;
  size: 36px;
  width: 351px;
  height: 48px;
  margin: 0px 0px 0px;
  display: flex;
}

.name-fighter-2-format {
  color: white;
  size: 36px;
  width: 351px;
  height: 48px;
  display: flex;
}

.nes-textarea {
  width: 25%;
  height: 48px;
}

.row.lobby {
  width: auto;
  margin-left: 1cm;
}

.row.room {
  justify-content: center;
  margin-top: 5cm;
}

.nes-btn.is-success {
  margin-left: 0.5cm;
}

.nes-container.is-centered {
  width: 40%;
  margin-left: 12px;
  margin-top: 12px;
}

.card.player {
  background-color: red;
  margin-left: 0.5cm;
}
.card.player-2 {
  background-color: aqua;
}
.card.player-3 {
  background-color: yellow;
  margin-left: 0.5cm;
  margin-top: 12px;
}
.card.player-4 {
  background-color: greenyellow;
  margin-top: 12px;
}

.versus-logo {
  width: 50%;
  height: 50%;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

.card.player.before-start {
  background-color: red;
}
.card.player-2.before-start {
  background-color: aqua;
}

.col.bst-center {
  width: 300px;
}

.versus-logo {
  width: 200px;
  height: 200px;
}

.nes-btn.is-success.start{
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 0.5cm;
}

.nes-table.is-bordered.is-dark.center{
  margin-left: auto;
  margin-right: auto;
}

#podium-box {
  margin: 0 auto;
  display: flex;
}

.podium-number {
  font-weight: bold;
  font-size: 4em;
  color: white;
}

.step-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.step-container>div:first-child {
  margin-top: auto;
  text-align: center;
}

.step {
  text-align: center;
}

.bg-blue {
  background-color: chocolate;
}

#first-step {
  height: 50%;
}

#second-step {
  height: 35%;
}

#third-step {
  height: 30%;
}