*{
  font-family: 'Press Start 2P', cursive;
}

.nes-field{
  width: 50%;
}

.nes-field label {
  text-align: center;
  color: white;
}

.nes-progress is-success{
  width: 50%;
}

.bar1{
  width: 35%;
  height: 36px;
  display: flex;
}

.bar2{
  width: 35%;
  height: 36px;
  display: flex;
}

.time-fight-format{
  color: white;
  font-size: 48px;
  display: flex;
}

.fight-screen{
  margin-top: 1cm;
  position: sticky;
}

.row{
  display: flex;
}

.name-fighter-1-format{
  color: white;
  size: 36px;
  width: 351px;
  height: 48px;
  margin: 0px 0px 0px;
  display: flex;
}

.name-fighter-2-format{
  color: white;
  size: 36px;
  width: 351px;
  height: 48px;
  display: flex;
}

.nes-textarea{
  width: 25%;
  height: 48px;
}

.row.lobby{
  width: 100vw;
  margin-left: 1cm;
}

.row.room{
  margin-top: 1cm;
  margin-left: 1cm;
}


.nes-container.is-centered{
  width: 26%;
}

.nes-btn.is-success{
  margin-left: 0.5cm;
}

.nes-container.is-centered{
  width: 40%;
  margin-left: 12px;
  margin-top: 12px;
}


.card.player{
  width: 170px;
  height: 64px;
  margin-top: 10px;
}


.versus-logo {
  width: 50%;
  height: 50%;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

.card.player.before-start {
  background-color: red;
}
.card.player-2.before-start {
  background-color: aqua;
}

.col.bst-center {
  width: 300px;
}

.versus-logo {
  width: 200px;
  height: 200px;
}



